
Samples/BuildingTheLibrary/BuiltXnbs/DesktopGL/obj/*
Samples/BuildingTheLibrary/SpineCSharpNet6/bin/*
Samples/BuildingTheLibrary/SpineCSharpNet6/obj/*
Samples/BuildingTheLibrary/SpineCSharpNet6/obj/*
Samples/BuildingTheLibrary/MyProject/.config/dotnet-tools.json
Source/obj/*
Source/bin/*
SpinePlugin/SpinePlugin/bin/*
SpinePlugin/SpinePlugin/obj/*
SpinePlugin/.vs/*
