*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
MyProject/MyProject/bin/
MyProject/bin/
MyProject/MyProject/obj/
MyProject/obj/
MyProject/Content/obj/
!MyProject/x64
!MyProject/x86
!MyProject/Libraries
