*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
FlatRedBallFna/FlatRedBallFna/bin/
FlatRedBallFna/bin/
FlatRedBallFna/FlatRedBallFna/obj/
FlatRedBallFna/obj/
FlatRedBallFna/Content/obj/
!FlatRedBallFna/x64
!FlatRedBallFna/x86
!FlatRedBallFna/Libraries
